## Center of Gravity solver

In order to run this notebook, you will need the `9_cities_dataset` and `200_cities_dataset` directories. 
You will also need `pandas` installed (which comes with Anaconda).

This notebook begins with the **9_cities_dataset loaded into memory** section. You don't need to edit any code here - just-rerun the notebook to execute this code on your computer. This subsection loads the `9_cities_dataset` into memory in two different formats - `pandas.DataFrame` format and Python dictionary format. You will use whichever of these data structures are more convenient for you when you complete the last two sections.

The **The Center of Gravity Problem** section is next. This presents the system of equations that define the Center of Gravity Problem.

The next two sections present you with two tasks. You will have to write code to complete these two sections.
 1. **Solve the Center of Gravity Problem for 9 cities**. Your task here is to implement a Mixed Integer Program based on the `9_cities_dataset`. You can use either of the two formats (DataFrames or dictionaries) for your input data. I recommend using `gurobipy`, but you can use whatever MIP API you prefer.
 1. **Solve the Center of Gravity Problem for 200 cities** Your task here is to create and solve the MIP from the `200_cities_dataset`. In this case, you will also have to write the code reading the input data set into memory, but you can use the the __9_cities_dataset loaded into memory__ code as an example.
 
###  9_cities_dataset loaded into memory

In this subsection, I will load the `9_cities_dataset` into memory. You will not need to edit any of the code in this section.

In [1]:
import pandas as pd
import os
small_cities_df = pd.read_csv(os.path.join("9_cities_dataset", "cities.csv"))
small_cities_df

         Name   Demand
0      Boston   610000
1     Atlanta   572000
2    New York  8450000
3   St. Louis   350000
4     Detroit   901000
5  Cincinnati   333000
6  Pittsburgh   306000
7   Charlotte   723000
8     Chicago  2870000

In [2]:
small_cities_dict = {row[0]:row[1] for row in small_cities_df.itertuples(index=False)}
small_cities_dict

{'Boston': 610000,
 'Atlanta': 572000,
 'New York': 8450000,
 'St. Louis': 350000,
 'Detroit': 901000,
 'Cincinnati': 333000,
 'Pittsburgh': 306000,
 'Charlotte': 723000,
 'Chicago': 2870000}

I've now created two representations of the cities data - one as a `pandas.DataFrame` and one as a dictionary mapping city name to demand.

I will now similarly create two representations of the distances data

In [3]:
small_distances_df = pd.read_csv(os.path.join("9_cities_dataset", "distances.csv"))
small_distances_df

        Source Destination  Distance
0       Boston      Boston         0
1      Atlanta     Atlanta         0
2     New York    New York         0
3    St. Louis   St. Louis         0
4      Detroit     Detroit         0
..         ...         ...       ...
76   St. Louis      Boston      1217
77     Detroit      Boston       721
78  Cincinnati      Boston       907
79  Pittsburgh      Boston       589
80   Charlotte      Boston       867

[81 rows x 3 columns]

To avoid clogging up this notebook, I won't display the entire `small_distances_dict`. It has 81 entries, one for each pair of cities.

In [4]:
small_distances_dict = {(row[0], row[1]): row[2] for row in small_distances_df.itertuples(index=False)}
len(small_distances_dict)

81

Here are a few examples of how to look up a distance from `small_distances_dict`.  

Note that Python has a bit of magic that results in 

`small_distances_dict[x, y]` 

being the exact same as 

`small_distances_dict[(x, y)]`. 

The latter is a bit more explicit, since each key of `small_distances_dict` is a 2-element `tuple`, but most people omit the paranthesis when reading or writing from a dictionary that is keyed by tuples.

In [5]:
small_distances_dict['Boston', 'Boston']

0

In [6]:
small_distances_dict['Cincinnati', 'Boston']

907

In [7]:
small_distances_dict['Charlotte', 'Boston']

867

When you write the code to build and solve the MIP, you can feel free to use the two `DataFrame` objects (`small_cities_df`, `small_distances_df`), or the dictionaries (`small_cities_dict`, `small_distances_dict`). Personally, I prefer to build MIP engines from dictionaries, but this is a matter of taste and not worth arguing over.

### The Center of Gravity Problem

In this subsection we present a system of equations to describe the Center of Gravity problem.

Our objective function is to minimize the total weighted assigned distance.

**Minimize**:
${ 
\Sigma_{i{\in}I} \Sigma_{j{\in}I} dist_{i,j} d_j Y_{i,j} 
}$

**Subject to**:

We need a set of constraints that ensure that each city is assigned to another city. (Self assignments are allowed).

${ 
\Sigma_{i{\in}I} Y_{i,j} = 1; \forall j \in I
}$

We need a single constraint to ensure that exactly *P* cities are opened.

${
\Sigma_{i{\in}I} X_i = P
}$

We need a set of constraints to ensure that if _j_ is assigned to *i*, 

then _i_ must be opened.


${
Y_{i,j} \leq X_i; \forall i \in I; \forall j \in I
}$

Finally, all of our variables are binary.

${
Y_{i,j} \in \{0,1\}; \forall i \in I; \forall j \in I
}$

${
X_i \in \{0,1\}; \forall i \in I
}$

### Solve the Center of Gravity Problem for 9 cities

This is task 1 that I introduced above. You are left to fill in this section as an exercise.

Remember, the input data is already loaded into memory. You will populate the MIP by reading from the pair of `DataFrame` objects (`small_cities_df` and `small_distances_df`) **or** by reading from the two dictionary objects (`small_cities_dict`, `small_distances_dict`).

For this data set, use a **P** value of 4 (i.e. open exactly 4 cities).

If you write your code correctly, then your code will find an optimal solution with an objective value within 0.1% of 5.5277e8. This solution should open "New York", "Detroit", "Charlotte" and "Chicago". "Atlanta" should be assigned to "Charlotte".

### Solve the Center of Gravity Problem for 200 cities

This is task 2 that I introduced above. You are left to fill in this section as an exercise.

Here, you must load data into memory by reading from the csv files in the `200_cities_dataset`. This code will be very similar to the **9_cities_dataset loaded into memory**.

You will then create a MIP from the 200 cities data set you loaded into memory. This code will be very similar to the **Solve the Center of Gravity Problem for 9 cities** code you wrote.

For this data set, use a **P** value of 3 (i.e. open exactly 3 cities).

If you write your code correctly, then you will find an optimal solution with an objective value within 0.1% of 5.9109e8.